// File: tegra194-p2888-0008-p2822-0000-deico-tevs-quad.dts
// DTS file hooking up a four cameras to all of the channels
// All four deserializer channels work at Pixel Mode

/dts-v1/;

#include "tegra194-p2888-0008-p2822-0000.dts"

#define CAM_LANES 			4          // number of CSI lanes used by each camera
#define CAM_LANES_STRING 	"4"
#define GMSL_CAM_NUM 		4	       // equals to number of cameras can be connected to your board
#define TOTAL_CSI_LANES 	(GMSL_CAM_NUM * CAM_LANES)
#define DES_LINK_FREQ 		1000000000 // min: 100000000, max: 1250000000, currently: 1GHz
#define CSI_FREQ 			500       // min: 100, max: 1200

/ {
	/*
	 * This is a new, virtual regulator definition that describes the
	 * discrete, always-on 1.8V power supply for our camera components.
	 * It does not control any hardware, it just provides a valid
	 * handle for drivers that require a power supply dependency.
	 */
	fixed-regulators {

		cam_vcc_1v8_reg: fixed-regulator-cam-1v8 {
			compatible = "regulator-fixed";
			regulator-name = "fixed-1.8v-cam-power";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			regulator-always-on;
		};
	};
};


&capture_vi_base { // /tegra-capture-vi
	status = "okay";
	num-channels = <GMSL_CAM_NUM>;

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			status = "okay";
			
			endpoint {	// vi_in0
				port-index = <0>;
				bus-width = <CAM_LANES>;
				remote-endpoint = <&csi_out0>;
				vc-id = <0x00>;
				status = "okay";
			};
		};

		port@1 {
			status = "okay";
			
			endpoint {	// vi_in1
				port-index = <2>;
				bus-width = <CAM_LANES>;
				remote-endpoint = <&csi_out1>;
				vc-id = <0x00>;
				status = "okay";
			};
		};

		port@2 {
			status = "okay";
			
			endpoint {	// vi_in2
				port-index = <4>;
				bus-width = <CAM_LANES>;
				remote-endpoint = <&csi_out2>;
				vc-id = <0x00>;
				status = "okay";
			};
		};

		port@3 {
			status = "okay";
			
			endpoint {	// vi_in3
				port-index = <5>;	//Should match stream-index of vi
				bus-width = <CAM_LANES>;
				remote-endpoint = <&csi_out3>;
				vc-id = <0x00>;
				status = "okay";
			};
		};
	};
};

&nvcsi { // /host1x@13e00000/nvcsi@15a00000
	status = "okay";
	num-channels = <GMSL_CAM_NUM>;

	channel@0 {
		status = "okay";

		ports {

			port@0 { // Sink port
				status = "okay";

				endpoint@0 {	// csi_in0
					port-index = <0>;
					bus-width = <CAM_LANES>;
					remote-endpoint = <&rpi22_tevs_0_out>;
					status = "okay";
				};
			};
			
			port@1 { // Source port
				status = "okay";

				endpoint@1 {	//csi_out0
					remote-endpoint = <&vi_in0>;
					status = "okay";
				};
			};
		};
	};

	channel@1 {
		status = "okay";

		ports {

			port@0 { // Sink port
				status = "okay";

				endpoint@2 {	// csi_in1
					port-index = <2>;
					bus-width = <CAM_LANES>;
					remote-endpoint = <&rpi22_tevs_1_out>;
					status = "okay";
				};
			};

			port@1 { // Source port
				status = "okay";

				endpoint@3 {	//csi_out1
					remote-endpoint = <&vi_in1>;
					status = "okay";
				};
			};
		};
	};
	
	channel@2 {
		status = "okay";

		ports {

			port@0 { // Sink port
				status = "okay";

				endpoint@4 {	// csi_in2
					port-index = <4>;
					bus-width = <CAM_LANES>;
					remote-endpoint = <&rpi22_tevs_2_out>;
					status = "okay";
				};
			};

			port@1 { // Source port
				status = "okay";

				endpoint@5 {	//csi_out2
					remote-endpoint = <&vi_in2>;
					status = "okay";
				};
			};
		};
	};
	
	channel@3 {
		status = "okay";

		ports {

			port@0 { // Sink port
				status = "okay";

				endpoint@6 {	// csi_in3
					port-index = <6>;
					bus-width = <CAM_LANES>;
					remote-endpoint = <&rpi22_tevs_3_out>;
					status = "okay";
				};
			};

			port@1 { // Source port
				status = "okay";

				endpoint@7 {	//csi_out3
					remote-endpoint = <&vi_in3>;
					status = "okay";
				};
			};
		};
	};
};

&tcp { // /tegra-camera-platform
	num_csi_lanes = <TOTAL_CSI_LANES>;	// total number of CSI lanes used by all cameras (4x1)
	max_lane_speed = <4000000>;
	min_bits_per_pixel = <16>;			// only this is updated
	vi_peak_byte_per_pixel = <2>;
	vi_bw_margin_pct = <25>;
	//max_pixel_rate = <240000>;
	//isp_peak_byte_per_pixel = <5>;
	//isp_bw_margin_pct = <25>;
	//tpg_max_iso = <0x3bc400>;

	modules {

		module0 {
			badge = "tevs_front";
			position = "front";
			//orientation = "1";
			status = "okay";

			drivernode0 {
				pcl_id = "v4l2_sensor";
				devname = "VLS-GM2-AR0234-Camera-1";
				proc-device-tree = "/proc/device-tree/i2c@3180000/gmsl-deserializer@0b/i2c@0/gmsl-serializer@0c/i2c@0/rpi22_tevs_0@0e";
				status = "okay";
			};
		};

		module1 {
			badge = "tevs_right";
			position = "right";
			//orientation = "1";
			status = "okay";

			drivernode0 {
				pcl_id = "v4l2_sensor";
				devname = "VLS-GM2-AR0234-Camera-2";
				proc-device-tree = "/proc/device-tree/i2c@3180000/gmsl-deserializer@1b/i2c@0/gmsl-serializer@1c/i2c@0/rpi22_tevs_1@1e";
				status = "okay";
			};
		};

		module2 {
			badge = "tevs_left";
			position = "left";
			//orientation = "1";
			status = "okay";

			drivernode0 {
				pcl_id = "v4l2_sensor";
				devname = "VLS-GM2-AR0234-Camera-3";
				proc-device-tree = "/proc/device-tree/i2c@3180000/gmsl-deserializer@2b/i2c@0/gmsl-serializer@2c/i2c@0/rpi22_tevs_2@2e";
				status = "okay";
			};
		};

		module3 {
			badge = "tevs_rear";
			position = "rear";
			//orientation = "1";
			status = "okay";

			drivernode0 {
				pcl_id = "v4l2_sensor";
				devname = "VLS-GM2-AR0234-Camera-4";
				proc-device-tree = "/proc/device-tree/i2c@3180000/gmsl-deserializer@3b/i2c@0/gmsl-serializer@3c/i2c@0/rpi22_tevs_3@3e";
				status = "okay";
			};
		};

	};
};

&cam_i2c { // /i2c@31800000
	status = "okay";

	des_0: gmsl-deserializer@0x0b {

		status = "okay";
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "maxim,max96714";
		reg = <0x0b>;
		phy-reg = <0x28>; // deserializer power-on I2C address, this address is instantly changed to 0x4a

		//reset-gpios = <&gpio CAM0_PWDN GPIO_ACTIVE_LOW>; // this will give a warning, add a dummy GPIO later

		i2c-addr-alias-map-local = <0x0c>;		// virtual I2C addresses assigned to the serializer
		i2c-addr-alias-map-remote = <0x40>; 	// actual I2C address of the serializer
		i2c-addr-alias-source-id = <0>;

		gpio-controller;
		#gpio-cells = <2>;
		gpio-ranges = <&des_0 0 0 12>;

		pinctrl-names = "default";
		pinctrl-0 = <&des_0_pinmux_default>;

		// Uncomment if you have frame sync feature:
		//fsync-mode = "external";

		des_0_pinmux_default: pinmux {
			mfp0_fsync {
				pins = "mfp0";
				function = "gpio";
				maxim,gmsl-tx = <1>;
				maxim,gmsl-tx-id = <0>;
				input-enable;
			};
		};

		// This basically uses the deserializer as a i2c mux device. 
		// Other parameters are for generic i2c-mux devices.
		i2c-mux { 

			#address-cells = <1>;
			#size-cells = <0>;

			compatible = "i2c-mux-gpio";
			i2c-parent = <&cam_i2c>;
			//mux-gpios = <&gpio_aon CAM_I2C_MUX GPIO_ACTIVE_HIGH>; //this is just to make the kernel happy, not necessary

			des_0_i2c_0: i2c@0 {
				#address-cells = <1>;
				#size-cells = <0>;

				reg = <0>;
			};
		};

		phy@0 {
			reg = <0>;
		};

		pipe@0 {
			reg = <0>;

			maxim,phy-id = <0>;
		};

		channel@0 {
			reg = <0>;
			label = "des_0_ch_0";

			maxim,phy-id = <0>;
			// Uncomment below to activate tunnel-mode otherwise, pixel-mode is selected
			//maxim,tunnel-mode; 

			clock-lanes = <0>;
			data-lanes = <1 2 3 4>;
			link-frequencies = /bits/ 64 <DES_LINK_FREQ>;
		};
	};

	des_1: gmsl-deserializer@0x1b {

		status = "okay";
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "maxim,max96714";
		reg = <0x1b>;
		phy-reg = <0x2a>; // deserializer power-on I2C address

		i2c-addr-alias-map-local = <0x1c>;		// virtual I2C addresses assigned to the serializer
		i2c-addr-alias-map-remote = <0x40>; 	// actual I2C address of the serializer
		i2c-addr-alias-source-id = <0>;

		gpio-controller;
		#gpio-cells = <2>;
		gpio-ranges = <&des_1 0 0 12>;

		pinctrl-names = "default";
		pinctrl-0 = <&des_1_pinmux_default>;

		// fsync-mode = "external";

		des_1_pinmux_default: pinmux {
			mfp0_fsync {
				pins = "mfp0";
				function = "gpio";
				maxim,gmsl-tx = <1>;
				maxim,gmsl-tx-id = <0>;
				input-enable;
			};
		};

		i2c-mux { 

			#address-cells = <1>;
			#size-cells = <0>;

			compatible = "i2c-mux-gpio";
			i2c-parent = <&cam_i2c>;

			des_1_i2c_0: i2c@0 {
				#address-cells = <1>;
				#size-cells = <0>;

				reg = <0>;
			};
		};

		phy@0 {
			reg = <0>;
		};

		pipe@0 {
			reg = <0>;

			maxim,phy-id = <0>;
		};

		channel@0 {
			reg = <0>;
			label = "des_1_ch_0";

			maxim,phy-id = <0>;
			// Uncomment below to activate tunnel-mode otherwise, pixel-mode is selected
			//maxim,tunnel-mode;

			clock-lanes = <0>;
			data-lanes = <1 2 3 4>;
			link-frequencies = /bits/ 64 <DES_LINK_FREQ>;
		};
	};

	des_2: gmsl-deserializer@0x2b {

		status = "okay";
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "maxim,max96714";
		reg = <0x2b>;
		phy-reg = <0x4c>; // deserializer power-on I2C address

		i2c-addr-alias-map-local = <0x2c>;		// virtual I2C addresses assigned to the serializer
		i2c-addr-alias-map-remote = <0x40>; 	// actual I2C address of the serializer
		i2c-addr-alias-source-id = <0>;

		gpio-controller;
		#gpio-cells = <2>;
		gpio-ranges = <&des_2 0 0 12>;

		pinctrl-names = "default";
		pinctrl-0 = <&des_2_pinmux_default>;

		// fsync-mode = "external";

		des_2_pinmux_default: pinmux {
			mfp0_fsync {
				pins = "mfp0";
				function = "gpio";
				maxim,gmsl-tx = <1>;
				maxim,gmsl-tx-id = <0>;
				input-enable;
			};
		};

		i2c-mux { 

			#address-cells = <1>;
			#size-cells = <0>;

			compatible = "i2c-mux-gpio";
			i2c-parent = <&cam_i2c>;

			des_2_i2c_0: i2c@0 {
				#address-cells = <1>;
				#size-cells = <0>;

				reg = <0>;
			};
		};

		phy@0 {
			reg = <0>;
		};

		pipe@0 {
			reg = <0>;

			maxim,phy-id = <0>;
		};

		channel@0 {
			reg = <0>;
			label = "des_2_ch_0";

			maxim,phy-id = <0>;
			// Uncomment below to activate tunnel-mode otherwise, pixel-mode is selected
			//maxim,tunnel-mode;

			clock-lanes = <0>;
			data-lanes = <1 2 3 4>;
			link-frequencies = /bits/ 64 <DES_LINK_FREQ>;
		};
	};

	des_3: gmsl-deserializer@0x3b {

		status = "okay";
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "maxim,max96714";
		reg = <0x3b>;
		phy-reg = <0x6a>; // deserializer power-on I2C address

		i2c-addr-alias-map-local = <0x3c>;		// virtual I2C addresses assigned to the serializer
		i2c-addr-alias-map-remote = <0x40>; 	// actual I2C address of the serializer
		i2c-addr-alias-source-id = <0>;

		gpio-controller;
		#gpio-cells = <2>;
		gpio-ranges = <&des_3 0 0 12>;

		pinctrl-names = "default";
		pinctrl-0 = <&des_3_pinmux_default>;

		// fsync-mode = "external";

		des_3_pinmux_default: pinmux {
			mfp0_fsync {
				pins = "mfp0";
				function = "gpio";
				maxim,gmsl-tx = <1>;
				maxim,gmsl-tx-id = <0>;
				input-enable;
			};
		};

		i2c-mux { 

			#address-cells = <1>;
			#size-cells = <0>;

			compatible = "i2c-mux-gpio";
			i2c-parent = <&cam_i2c>;

			des_3_i2c_0: i2c@0 {
				#address-cells = <1>;
				#size-cells = <0>;

				reg = <0>;
			};
		};

		phy@0 {
			reg = <0>;
		};

		pipe@0 {
			reg = <0>;

			maxim,phy-id = <0>;
		};

		channel@0 {
			reg = <0>;
			label = "des_3_ch_0";

			maxim,phy-id = <0>;
			// Uncomment below to activate tunnel-mode otherwise, pixel-mode is selected
			//maxim,tunnel-mode;

			clock-lanes = <0>;
			data-lanes = <1 2 3 4>;
			link-frequencies = /bits/ 64 <DES_LINK_FREQ>;
		};
	};
};

// SER0 -> CAM0 starts here
&des_0_i2c_0 {

	ser_0: gmsl-serializer@0c {
		status = "okay";
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "maxim,max96717";
		reg = <0x0c>;

		// i2c addr alias map "isp, gpio expander"
		i2c-addr-alias-map-local = <0x0e 0x0d>;	// virtual I2C addresses assigned to the devices
		i2c-addr-alias-map-remote = <0x48 0x25>;// actual I2C addresses of the devices

		gpio-controller;
		#gpio-cells = <2>;
		gpio-ranges = <&ser_0 0 0 11>;
		// Uncomment below to activate tunnel-mode otherwise, pixel-mode is selected
		//maxim,tunnel-mode;

		pinctrl-names = "default";
		pinctrl-0 = <&ser_0_pinmux_default>;

		ser_0_pinmux_default: pinmux {
			mfp0_fsync {
				pins = "mfp0";
				function = "gpio";
				maxim,gmsl-rx = <1>;
				maxim,gmsl-rx-id = <0>;
				output-enable;
				output-low;
			};
		};

		i2c-mux {
			#address-cells = <1>;
			#size-cells = <0>;

			compatible = "i2c-mux-gpio";
			i2c-parent = <&cam_i2c>;
			//mux-gpios = <&gpio_aon CAM_I2C_MUX GPIO_ACTIVE_HIGH>;

			ser_0_i2c_0: i2c@0 {
				#address-cells = <1>;
				#size-cells = <0>;

				reg = <0>;
			};
		};

		pipe@0 {
			reg = <0>;

			maxim,stream-id = <0>;
		};

		channel@0 {
			reg = <0>;
			label = "ser_0_ch_0";

			clock-lanes = <0>;
			data-lanes = <1 2 3 4>;
			clock-noncontinuous;
		};
	};
};

&ser_0_i2c_0 {
	pca9554_cam_0: pca9554@0d {
		compatible = "nxp,pca9554";
		reg = <0x0d>;
		gpio-controller;
		#gpio-cells = <2>;
		gpio-line-names = "EXPOSURE_TRIG_IN",
						"FLASH_OUT",
						"INFO_TRIG_IN",
						"CAMA_SHUTTER",
						"CSI_P1_nRST",
						"PWR_TIME0",
						"PWR_TIME1",
						"3V3_EN";
		vcc-supply = <&cam_vcc_1v8_reg>;
		vcc_lp = "vcc";
		status = "okay";
	};

	cam_0: rpi22_tevs_0@0e {
		compatible = "tn,tevs";
		reg = <0x0e>;
		status = "okay";

		reset-gpios = <&pca9554_cam_0 4 GPIO_ACTIVE_HIGH>;
		standby-gpios = <&pca9554_cam_0 2 GPIO_ACTIVE_HIGH>;
		data-lanes = <CAM_LANES>;
		data-frequency = <CSI_FREQ>;

		/* V4L2 device node location */
		devnode = "video0";
		/* Physical dimensions of sensor */
		physical_w = "3.680";
		physical_h = "2.760";
		sensor_model = "tevs";
		use_sensor_mode_id = "false";

		mode0 {
			mclk_khz = "24000";
			num_lanes = CAM_LANES_STRING;
			tegra_sinterface = "serial_a";
			phy_mode = "DPHY";
			discontinuous_clk = "yes";
			dpcm_enable = "false";
			cil_settletime = "0";

			active_w = "3280";
			active_h = "2464";
			mode_type = "yuv";
			pixel_phase = "uyvy";
			csi_pixel_bit_depth = "16";
			readout_orientation = "90";
			line_length = "3448";
			inherent_gain = "1";
			mclk_multiplier = "9.33";
			pix_clk_hz = "200000000";
			serdes_pix_clk_hz = "500000000";

			gain_factor = "16";
			framerate_factor = "1000000";
			exposure_factor = "1000000";
			min_gain_val = "16"; /* 1.00x */
			max_gain_val = "170"; /* 10.66x */
			step_gain_val = "1";
			default_gain = "16"; /* 1.00x */
			min_hdr_ratio = "1";
			max_hdr_ratio = "1";
			min_framerate = "2000000"; /* 2.0 fps */
			max_framerate = "21000000"; /* 21.0 fps */
			step_framerate = "1";
			default_framerate = "21000000"; /* 21.0 fps */
			min_exp_time = "13"; /* us */
			max_exp_time = "683709"; /* us */
			step_exp_time = "1";
			default_exp_time = "2495"; /* us */
			embedded_metadata_height = "0";
		};
		mode1 {
			mclk_khz = "24000";
			num_lanes = CAM_LANES_STRING;
			tegra_sinterface = "serial_a";
			phy_mode = "DPHY";
			discontinuous_clk = "yes";
			dpcm_enable = "false";
			cil_settletime = "0";

			active_w = "3280";
			active_h = "1848";
			mode_type = "yuv";
			pixel_phase = "uyvy";
			csi_pixel_bit_depth = "16";
			readout_orientation = "90";
			line_length = "3448";
			inherent_gain = "1";
			mclk_multiplier = "9.33";
			pix_clk_hz = "200000000";
			serdes_pix_clk_hz = "500000000";

			gain_factor = "16";
			framerate_factor = "1000000";
			exposure_factor = "1000000";
			min_gain_val = "16"; /* 1.00x */
			max_gain_val = "170"; /* 10.66x */
			step_gain_val = "1";
			default_gain = "16"; /* 1.00x */
			min_hdr_ratio = "1";
			max_hdr_ratio = "1";
			min_framerate = "2000000"; /* 2.0 fps */
			max_framerate = "28000000"; /* 28.0 fps */
			step_framerate = "1";
			default_framerate = "28000000"; /* 28.0 fps */
			min_exp_time = "13"; /* us */
			max_exp_time = "683709"; /* us */
			step_exp_time = "1";
			default_exp_time = "2495"; /* us */
			embedded_metadata_height = "0";
		};
		mode2 {
			mclk_khz = "24000";
			num_lanes = CAM_LANES_STRING;
			tegra_sinterface = "serial_a";
			phy_mode = "DPHY";
			discontinuous_clk = "yes";
			dpcm_enable = "false";
			cil_settletime = "0";

			active_w = "1920";
			active_h = "1080";
			mode_type = "yuv";
			pixel_phase = "uyvy";
			csi_pixel_bit_depth = "16";
			readout_orientation = "90";
			line_length = "3448";
			inherent_gain = "1";
			mclk_multiplier = "9.33";
			pix_clk_hz = "200000000";
			serdes_pix_clk_hz = "500000000";

			gain_factor = "16";
			framerate_factor = "1000000";
			exposure_factor = "1000000";
			min_gain_val = "16"; /* 1.00x */
			max_gain_val = "170"; /* 10.66x */
			step_gain_val = "1";
			default_gain = "16"; /* 1.00x */
			min_hdr_ratio = "1";
			max_hdr_ratio = "1";
			min_framerate = "2000000"; /* 2.0 fps */
			max_framerate = "30000000"; /* 30.0 fps */
			step_framerate = "1";
			default_framerate = "30000000"; /* 30.0 fps */
			min_exp_time = "13"; /* us */
			max_exp_time = "683709"; /* us */
			step_exp_time = "1";
			default_exp_time = "2495"; /* us */
			embedded_metadata_height = "0";
		};
		mode3 {
			mclk_khz = "24000";
			num_lanes = CAM_LANES_STRING;
			tegra_sinterface = "serial_a";
			phy_mode = "DPHY";
			discontinuous_clk = "yes";
			dpcm_enable = "false";
			cil_settletime = "0";

			active_w = "1640";
			active_h = "1232";
			mode_type = "yuv";
			pixel_phase = "uyvy";
			csi_pixel_bit_depth = "16";
			readout_orientation = "90";
			line_length = "3448";
			inherent_gain = "1";
			mclk_multiplier = "9.33";
			pix_clk_hz = "200000000";
			serdes_pix_clk_hz = "500000000";

			gain_factor = "16";
			framerate_factor = "1000000";
			exposure_factor = "1000000";
			min_gain_val = "16"; /* 1.00x */
			max_gain_val = "170"; /* 10.66x */
			step_gain_val = "1";
			default_gain = "16"; /* 1.00x */
			min_hdr_ratio = "1";
			max_hdr_ratio = "1";
			min_framerate = "2000000"; /* 2.0 fps */
			max_framerate = "30000000"; /* 60.0 fps */
			step_framerate = "1";
			default_framerate = "30000000"; /* 60.0 fps */
			min_exp_time = "13"; /* us */
			max_exp_time = "683709"; /* us */
			step_exp_time = "1";
			default_exp_time = "2495"; /* us */
			embedded_metadata_height = "0";
		};
		mode4 {
			mclk_khz = "24000";
			num_lanes = CAM_LANES_STRING;
			tegra_sinterface = "serial_a";
			phy_mode = "DPHY";
			discontinuous_clk = "yes";
			dpcm_enable = "false";
			cil_settletime = "0";

			active_w = "1280";
			active_h = "720";
			mode_type = "yuv";
			pixel_phase = "uyvy";
			csi_pixel_bit_depth = "16";
			readout_orientation = "90";
			line_length = "3448";
			inherent_gain = "1";
			mclk_multiplier = "9.33";
			pix_clk_hz = "200000000";
			serdes_pix_clk_hz = "500000000";

			gain_factor = "16";
			framerate_factor = "1000000";
			exposure_factor = "1000000";
			min_gain_val = "16"; /* 1.00x */
			max_gain_val = "170"; /* 10.66x */
			step_gain_val = "1";
			default_gain = "16"; /* 1.00x */
			min_hdr_ratio = "1";
			max_hdr_ratio = "1";
			min_framerate = "2000000"; /* 2.0 fps */
			max_framerate = "60000000"; /* 60.0 fps */
			step_framerate = "1";
			default_framerate = "60000000"; /* 60.0 fps */
			min_exp_time = "13"; /* us */
			max_exp_time = "683709"; /* us */
			step_exp_time = "1";
			default_exp_time = "2495"; /* us */
			embedded_metadata_height = "0";
		};
		mode5 {
			mclk_khz = "24000";
			num_lanes = CAM_LANES_STRING;
			tegra_sinterface = "serial_a";
			phy_mode = "DPHY";
			discontinuous_clk = "yes";
			dpcm_enable = "false";
			cil_settletime = "0";

			active_w = "640";
			active_h = "480";
			mode_type = "yuv";
			pixel_phase = "uyvy";
			csi_pixel_bit_depth = "16";
			readout_orientation = "90";
			line_length = "3448";
			inherent_gain = "1";
			mclk_multiplier = "9.33";
			pix_clk_hz = "200000000";
			serdes_pix_clk_hz = "500000000";

			gain_factor = "16";
			framerate_factor = "1000000";
			exposure_factor = "1000000";
			min_gain_val = "16"; /* 1.00x */
			max_gain_val = "170"; /* 10.66x */
			step_gain_val = "1";
			default_gain = "16"; /* 1.00x */
			min_hdr_ratio = "1";
			max_hdr_ratio = "1";
			min_framerate = "2000000"; /* 2.0 fps */
			max_framerate = "60000000"; /* 60.0 fps */
			step_framerate = "1";
			default_framerate = "60000000"; /* 60.0 fps */
			min_exp_time = "13"; /* us */
			max_exp_time = "683709"; /* us */
			step_exp_time = "1";
			default_exp_time = "2495"; /* us */
			embedded_metadata_height = "0";
		};
		ports {
			#address-cells = <1>;
			#size-cells = <0>;
			port@0 {
				reg = <0>;

				rpi22_tevs_0_out: endpoint {
					port-index = <0>;
					bus-width = <CAM_LANES>;
					remote-endpoint = <&csi_in0>;
				};
			};
		};
	};
};
// SER0 -> CAM0 ends here

// SER1 -> CAM1 starts here
&des_1_i2c_0 {

	ser_1: gmsl-serializer@1c {
		status = "okay";
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "maxim,max96717";
		reg = <0x1c>;

		// i2c addr alias map "isp, gpio expander"
		i2c-addr-alias-map-local = <0x1e 0x1d>;	// virtual I2C addresses assigned to the devices
		i2c-addr-alias-map-remote = <0x48 0x25>;// actual I2C addresses of the devices

		gpio-controller;
		#gpio-cells = <2>;
		gpio-ranges = <&ser_1 0 0 11>;
		// Uncomment below to activate tunnel-mode otherwise, pixel-mode is selected
		//maxim,tunnel-mode;

		pinctrl-names = "default";
		pinctrl-0 = <&ser_1_pinmux_default>;

		ser_1_pinmux_default: pinmux {
			mfp0_fsync {
				pins = "mfp0";
				function = "gpio";
				maxim,gmsl-rx = <1>;
				maxim,gmsl-rx-id = <0>;
				output-enable;
				output-low;
			};
		};

		i2c-mux {
			#address-cells = <1>;
			#size-cells = <0>;

			compatible = "i2c-mux-gpio";
			i2c-parent = <&cam_i2c>;

			ser_1_i2c_0: i2c@0 {
				#address-cells = <1>;
				#size-cells = <0>;

				reg = <0>;
			};
		};

		pipe@0 {
			reg = <0>;

			maxim,stream-id = <0>;
		};

		channel@0 {
			reg = <0>;
			label = "ser_1_ch_0";

			clock-lanes = <0>;
			data-lanes = <1 2 3 4>;
			clock-noncontinuous;
		};
	};
};

&ser_1_i2c_0 {
	pca9554_cam_1: pca9554@1d {
		compatible = "nxp,pca9554";
		reg = <0x1d>;
		gpio-controller;
		#gpio-cells = <2>;
		gpio-line-names = "EXPOSURE_TRIG_IN",
						"FLASH_OUT",
						"INFO_TRIG_IN",
						"CAMA_SHUTTER",
						"CSI_P1_nRST",
						"PWR_TIME0",
						"PWR_TIME1",
						"3V3_EN";
		vcc-supply = <&cam_vcc_1v8_reg>;
		vcc_lp = "vcc";
		status = "okay";
	};

	cam_1: rpi22_tevs_1@1e {
		compatible = "tn,tevs";
		reg = <0x1e>;
		status = "okay";

		reset-gpios = <&pca9554_cam_1 4 GPIO_ACTIVE_HIGH>;
		standby-gpios = <&pca9554_cam_1 2 GPIO_ACTIVE_HIGH>;
		data-lanes = <CAM_LANES>;
		data-frequency = <560>;

		/* V4L2 device node location */
		devnode = "video1";
		/* Physical dimensions of sensor */
		physical_w = "3.680";
		physical_h = "2.760";
		sensor_model = "tevs";
		use_sensor_mode_id = "false";

		mode0 {
			mclk_khz = "24000";
			num_lanes = CAM_LANES_STRING;
			tegra_sinterface = "serial_c";
			phy_mode = "DPHY";
			discontinuous_clk = "yes";
			dpcm_enable = "false";
			cil_settletime = "0";

			active_w = "3280";
			active_h = "2464";
			mode_type = "yuv";
			pixel_phase = "uyvy";
			csi_pixel_bit_depth = "16";
			readout_orientation = "90";
			line_length = "3448";
			inherent_gain = "1";
			mclk_multiplier = "9.33";
			pix_clk_hz = "200000000";
			serdes_pix_clk_hz = "500000000";

			gain_factor = "16";
			framerate_factor = "1000000";
			exposure_factor = "1000000";
			min_gain_val = "16"; /* 1.00x */
			max_gain_val = "170"; /* 10.66x */
			step_gain_val = "1";
			default_gain = "16"; /* 1.00x */
			min_hdr_ratio = "1";
			max_hdr_ratio = "1";
			min_framerate = "2000000"; /* 2.0 fps */
			max_framerate = "21000000"; /* 21.0 fps */
			step_framerate = "1";
			default_framerate = "21000000"; /* 21.0 fps */
			min_exp_time = "13"; /* us */
			max_exp_time = "683709"; /* us */
			step_exp_time = "1";
			default_exp_time = "2495"; /* us */
			embedded_metadata_height = "0";
		};
		mode1 {
			mclk_khz = "24000";
			num_lanes = CAM_LANES_STRING;
			tegra_sinterface = "serial_c";
			phy_mode = "DPHY";
			discontinuous_clk = "yes";
			dpcm_enable = "false";
			cil_settletime = "0";

			active_w = "3280";
			active_h = "1848";
			mode_type = "yuv";
			pixel_phase = "uyvy";
			csi_pixel_bit_depth = "16";
			readout_orientation = "90";
			line_length = "3448";
			inherent_gain = "1";
			mclk_multiplier = "9.33";
			pix_clk_hz = "200000000";
			serdes_pix_clk_hz = "500000000";

			gain_factor = "16";
			framerate_factor = "1000000";
			exposure_factor = "1000000";
			min_gain_val = "16"; /* 1.00x */
			max_gain_val = "170"; /* 10.66x */
			step_gain_val = "1";
			default_gain = "16"; /* 1.00x */
			min_hdr_ratio = "1";
			max_hdr_ratio = "1";
			min_framerate = "2000000"; /* 2.0 fps */
			max_framerate = "28000000"; /* 28.0 fps */
			step_framerate = "1";
			default_framerate = "28000000"; /* 28.0 fps */
			min_exp_time = "13"; /* us */
			max_exp_time = "683709"; /* us */
			step_exp_time = "1";
			default_exp_time = "2495"; /* us */
			embedded_metadata_height = "0";
		};
		mode2 {
			mclk_khz = "24000";
			num_lanes = CAM_LANES_STRING;
			tegra_sinterface = "serial_c";
			phy_mode = "DPHY";
			discontinuous_clk = "yes";
			dpcm_enable = "false";
			cil_settletime = "0";

			active_w = "1920";
			active_h = "1080";
			mode_type = "yuv";
			pixel_phase = "uyvy";
			csi_pixel_bit_depth = "16";
			readout_orientation = "90";
			line_length = "3448";
			inherent_gain = "1";
			mclk_multiplier = "9.33";
			pix_clk_hz = "200000000";
			serdes_pix_clk_hz = "500000000";

			gain_factor = "16";
			framerate_factor = "1000000";
			exposure_factor = "1000000";
			min_gain_val = "16"; /* 1.00x */
			max_gain_val = "170"; /* 10.66x */
			step_gain_val = "1";
			default_gain = "16"; /* 1.00x */
			min_hdr_ratio = "1";
			max_hdr_ratio = "1";
			min_framerate = "2000000"; /* 2.0 fps */
			max_framerate = "30000000"; /* 30.0 fps */
			step_framerate = "1";
			default_framerate = "30000000"; /* 30.0 fps */
			min_exp_time = "13"; /* us */
			max_exp_time = "683709"; /* us */
			step_exp_time = "1";
			default_exp_time = "2495"; /* us */
			embedded_metadata_height = "0";
		};
		mode3 {
			mclk_khz = "24000";
			num_lanes = CAM_LANES_STRING;
			tegra_sinterface = "serial_c";
			phy_mode = "DPHY";
			discontinuous_clk = "yes";
			dpcm_enable = "false";
			cil_settletime = "0";

			active_w = "1640";
			active_h = "1232";
			mode_type = "yuv";
			pixel_phase = "uyvy";
			csi_pixel_bit_depth = "16";
			readout_orientation = "90";
			line_length = "3448";
			inherent_gain = "1";
			mclk_multiplier = "9.33";
			pix_clk_hz = "200000000";
			serdes_pix_clk_hz = "500000000";

			gain_factor = "16";
			framerate_factor = "1000000";
			exposure_factor = "1000000";
			min_gain_val = "16"; /* 1.00x */
			max_gain_val = "170"; /* 10.66x */
			step_gain_val = "1";
			default_gain = "16"; /* 1.00x */
			min_hdr_ratio = "1";
			max_hdr_ratio = "1";
			min_framerate = "2000000"; /* 2.0 fps */
			max_framerate = "30000000"; /* 60.0 fps */
			step_framerate = "1";
			default_framerate = "30000000"; /* 60.0 fps */
			min_exp_time = "13"; /* us */
			max_exp_time = "683709"; /* us */
			step_exp_time = "1";
			default_exp_time = "2495"; /* us */
			embedded_metadata_height = "0";
		};
		mode4 {
			mclk_khz = "24000";
			num_lanes = CAM_LANES_STRING;
			tegra_sinterface = "serial_c";
			phy_mode = "DPHY";
			discontinuous_clk = "yes";
			dpcm_enable = "false";
			cil_settletime = "0";

			active_w = "1280";
			active_h = "720";
			mode_type = "yuv";
			pixel_phase = "uyvy";
			csi_pixel_bit_depth = "16";
			readout_orientation = "90";
			line_length = "3448";
			inherent_gain = "1";
			mclk_multiplier = "9.33";
			pix_clk_hz = "200000000";
			serdes_pix_clk_hz = "500000000";

			gain_factor = "16";
			framerate_factor = "1000000";
			exposure_factor = "1000000";
			min_gain_val = "16"; /* 1.00x */
			max_gain_val = "170"; /* 10.66x */
			step_gain_val = "1";
			default_gain = "16"; /* 1.00x */
			min_hdr_ratio = "1";
			max_hdr_ratio = "1";
			min_framerate = "2000000"; /* 2.0 fps */
			max_framerate = "60000000"; /* 60.0 fps */
			step_framerate = "1";
			default_framerate = "60000000"; /* 60.0 fps */
			min_exp_time = "13"; /* us */
			max_exp_time = "683709"; /* us */
			step_exp_time = "1";
			default_exp_time = "2495"; /* us */
			embedded_metadata_height = "0";
		};
		mode5 {
			mclk_khz = "24000";
			num_lanes = CAM_LANES_STRING;
			tegra_sinterface = "serial_c";
			phy_mode = "DPHY";
			discontinuous_clk = "yes";
			dpcm_enable = "false";
			cil_settletime = "0";

			active_w = "640";
			active_h = "480";
			mode_type = "yuv";
			pixel_phase = "uyvy";
			csi_pixel_bit_depth = "16";
			readout_orientation = "90";
			line_length = "3448";
			inherent_gain = "1";
			mclk_multiplier = "9.33";
			pix_clk_hz = "200000000";
			serdes_pix_clk_hz = "500000000";

			gain_factor = "16";
			framerate_factor = "1000000";
			exposure_factor = "1000000";
			min_gain_val = "16"; /* 1.00x */
			max_gain_val = "170"; /* 10.66x */
			step_gain_val = "1";
			default_gain = "16"; /* 1.00x */
			min_hdr_ratio = "1";
			max_hdr_ratio = "1";
			min_framerate = "2000000"; /* 2.0 fps */
			max_framerate = "60000000"; /* 60.0 fps */
			step_framerate = "1";
			default_framerate = "60000000"; /* 60.0 fps */
			min_exp_time = "13"; /* us */
			max_exp_time = "683709"; /* us */
			step_exp_time = "1";
			default_exp_time = "2495"; /* us */
			embedded_metadata_height = "0";
		};
		ports {
			#address-cells = <1>;
			#size-cells = <0>;
			port@0 {
				reg = <0>;

				rpi22_tevs_1_out: endpoint {
					port-index = <2>;
					bus-width = <CAM_LANES>;
					remote-endpoint = <&csi_in1>;
				};
			};
		};
	};
};
// SER1 -> CAM1 ends here

// SER2 -> CAM2 starts here
&des_2_i2c_0 {

	ser_2: gmsl-serializer@2c {
		status = "okay";
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "maxim,max96717";
		reg = <0x2c>;

		// i2c addr alias map "isp, gpio expander"
		i2c-addr-alias-map-local = <0x2e 0x2d>;	// virtual I2C addresses assigned to the devices
		i2c-addr-alias-map-remote = <0x48 0x25>;// actual I2C addresses of the devices

		gpio-controller;
		#gpio-cells = <2>;
		gpio-ranges = <&ser_2 0 0 11>;
		// Uncomment below to activate tunnel-mode otherwise, pixel-mode is selected
		//maxim,tunnel-mode;

		pinctrl-names = "default";
		pinctrl-0 = <&ser_2_pinmux_default>;

		ser_2_pinmux_default: pinmux {
			mfp0_fsync {
				pins = "mfp0";
				function = "gpio";
				maxim,gmsl-rx = <1>;
				maxim,gmsl-rx-id = <0>;
				output-enable;
				output-low;
			};
		};

		i2c-mux {
			#address-cells = <1>;
			#size-cells = <0>;

			compatible = "i2c-mux-gpio";
			i2c-parent = <&cam_i2c>;

			ser_2_i2c_0: i2c@0 {
				#address-cells = <1>;
				#size-cells = <0>;

				reg = <0>;
			};
		};

		pipe@0 {
			reg = <0>;

			maxim,stream-id = <0>;
		};

		channel@0 {
			reg = <0>;
			label = "ser_2_ch_0";

			clock-lanes = <0>;
			data-lanes = <1 2 3 4>;
			clock-noncontinuous;
		};
	};
};

&ser_2_i2c_0 {
	pca9554_cam_2: pca9554@2d {
		compatible = "nxp,pca9554";
		reg = <0x2d>;
		gpio-controller;
		#gpio-cells = <2>;
		gpio-line-names = "EXPOSURE_TRIG_IN",
						"FLASH_OUT",
						"INFO_TRIG_IN",
						"CAMA_SHUTTER",
						"CSI_P1_nRST",
						"PWR_TIME0",
						"PWR_TIME1",
						"3V3_EN";
		vcc-supply = <&cam_vcc_1v8_reg>;
		vcc_lp = "vcc";
		status = "okay";
	};

	cam_2: rpi22_tevs_2@2e {
		compatible = "tn,tevs";
		reg = <0x2e>;
		status = "okay";

		reset-gpios = <&pca9554_cam_2 4 GPIO_ACTIVE_HIGH>;
		standby-gpios = <&pca9554_cam_2 2 GPIO_ACTIVE_HIGH>;
		data-lanes = <CAM_LANES>;
		data-frequency = <CSI_FREQ>;

		/* V4L2 device node location */
		devnode = "video2";
		/* Physical dimensions of sensor */
		physical_w = "3.680";
		physical_h = "2.760";
		sensor_model = "tevs";
		use_sensor_mode_id = "false";

		mode0 {
			mclk_khz = "24000";
			num_lanes = CAM_LANES_STRING;
			tegra_sinterface = "serial_e";
			phy_mode = "DPHY";
			discontinuous_clk = "yes";
			dpcm_enable = "false";
			cil_settletime = "0";

			active_w = "3280";
			active_h = "2464";
			mode_type = "yuv";
			pixel_phase = "uyvy";
			csi_pixel_bit_depth = "16";
			readout_orientation = "90";
			line_length = "3448";
			inherent_gain = "1";
			mclk_multiplier = "9.33";
			pix_clk_hz = "200000000";
			serdes_pix_clk_hz = "500000000";

			gain_factor = "16";
			framerate_factor = "1000000";
			exposure_factor = "1000000";
			min_gain_val = "16"; /* 1.00x */
			max_gain_val = "170"; /* 10.66x */
			step_gain_val = "1";
			default_gain = "16"; /* 1.00x */
			min_hdr_ratio = "1";
			max_hdr_ratio = "1";
			min_framerate = "2000000"; /* 2.0 fps */
			max_framerate = "21000000"; /* 21.0 fps */
			step_framerate = "1";
			default_framerate = "21000000"; /* 21.0 fps */
			min_exp_time = "13"; /* us */
			max_exp_time = "683709"; /* us */
			step_exp_time = "1";
			default_exp_time = "2495"; /* us */
			embedded_metadata_height = "0";
		};
		mode1 {
			mclk_khz = "24000";
			num_lanes = CAM_LANES_STRING;
			tegra_sinterface = "serial_e";
			phy_mode = "DPHY";
			discontinuous_clk = "yes";
			dpcm_enable = "false";
			cil_settletime = "0";

			active_w = "3280";
			active_h = "1848";
			mode_type = "yuv";
			pixel_phase = "uyvy";
			csi_pixel_bit_depth = "16";
			readout_orientation = "90";
			line_length = "3448";
			inherent_gain = "1";
			mclk_multiplier = "9.33";
			pix_clk_hz = "200000000";
			serdes_pix_clk_hz = "500000000";

			gain_factor = "16";
			framerate_factor = "1000000";
			exposure_factor = "1000000";
			min_gain_val = "16"; /* 1.00x */
			max_gain_val = "170"; /* 10.66x */
			step_gain_val = "1";
			default_gain = "16"; /* 1.00x */
			min_hdr_ratio = "1";
			max_hdr_ratio = "1";
			min_framerate = "2000000"; /* 2.0 fps */
			max_framerate = "28000000"; /* 28.0 fps */
			step_framerate = "1";
			default_framerate = "28000000"; /* 28.0 fps */
			min_exp_time = "13"; /* us */
			max_exp_time = "683709"; /* us */
			step_exp_time = "1";
			default_exp_time = "2495"; /* us */
			embedded_metadata_height = "0";
		};
		mode2 {
			mclk_khz = "24000";
			num_lanes = CAM_LANES_STRING;
			tegra_sinterface = "serial_e";
			phy_mode = "DPHY";
			discontinuous_clk = "yes";
			dpcm_enable = "false";
			cil_settletime = "0";

			active_w = "1920";
			active_h = "1080";
			mode_type = "yuv";
			pixel_phase = "uyvy";
			csi_pixel_bit_depth = "16";
			readout_orientation = "90";
			line_length = "3448";
			inherent_gain = "1";
			mclk_multiplier = "9.33";
			pix_clk_hz = "200000000";
			serdes_pix_clk_hz = "500000000";

			gain_factor = "16";
			framerate_factor = "1000000";
			exposure_factor = "1000000";
			min_gain_val = "16"; /* 1.00x */
			max_gain_val = "170"; /* 10.66x */
			step_gain_val = "1";
			default_gain = "16"; /* 1.00x */
			min_hdr_ratio = "1";
			max_hdr_ratio = "1";
			min_framerate = "2000000"; /* 2.0 fps */
			max_framerate = "30000000"; /* 30.0 fps */
			step_framerate = "1";
			default_framerate = "30000000"; /* 30.0 fps */
			min_exp_time = "13"; /* us */
			max_exp_time = "683709"; /* us */
			step_exp_time = "1";
			default_exp_time = "2495"; /* us */
			embedded_metadata_height = "0";
		};
		mode3 {
			mclk_khz = "24000";
			num_lanes = CAM_LANES_STRING;
			tegra_sinterface = "serial_e";
			phy_mode = "DPHY";
			discontinuous_clk = "yes";
			dpcm_enable = "false";
			cil_settletime = "0";

			active_w = "1640";
			active_h = "1232";
			mode_type = "yuv";
			pixel_phase = "uyvy";
			csi_pixel_bit_depth = "16";
			readout_orientation = "90";
			line_length = "3448";
			inherent_gain = "1";
			mclk_multiplier = "9.33";
			pix_clk_hz = "200000000";
			serdes_pix_clk_hz = "500000000";

			gain_factor = "16";
			framerate_factor = "1000000";
			exposure_factor = "1000000";
			min_gain_val = "16"; /* 1.00x */
			max_gain_val = "170"; /* 10.66x */
			step_gain_val = "1";
			default_gain = "16"; /* 1.00x */
			min_hdr_ratio = "1";
			max_hdr_ratio = "1";
			min_framerate = "2000000"; /* 2.0 fps */
			max_framerate = "30000000"; /* 60.0 fps */
			step_framerate = "1";
			default_framerate = "30000000"; /* 60.0 fps */
			min_exp_time = "13"; /* us */
			max_exp_time = "683709"; /* us */
			step_exp_time = "1";
			default_exp_time = "2495"; /* us */
			embedded_metadata_height = "0";
		};
		mode4 {
			mclk_khz = "24000";
			num_lanes = CAM_LANES_STRING;
			tegra_sinterface = "serial_e";
			phy_mode = "DPHY";
			discontinuous_clk = "yes";
			dpcm_enable = "false";
			cil_settletime = "0";

			active_w = "1280";
			active_h = "720";
			mode_type = "yuv";
			pixel_phase = "uyvy";
			csi_pixel_bit_depth = "16";
			readout_orientation = "90";
			line_length = "3448";
			inherent_gain = "1";
			mclk_multiplier = "9.33";
			pix_clk_hz = "200000000";
			serdes_pix_clk_hz = "500000000";

			gain_factor = "16";
			framerate_factor = "1000000";
			exposure_factor = "1000000";
			min_gain_val = "16"; /* 1.00x */
			max_gain_val = "170"; /* 10.66x */
			step_gain_val = "1";
			default_gain = "16"; /* 1.00x */
			min_hdr_ratio = "1";
			max_hdr_ratio = "1";
			min_framerate = "2000000"; /* 2.0 fps */
			max_framerate = "60000000"; /* 60.0 fps */
			step_framerate = "1";
			default_framerate = "60000000"; /* 60.0 fps */
			min_exp_time = "13"; /* us */
			max_exp_time = "683709"; /* us */
			step_exp_time = "1";
			default_exp_time = "2495"; /* us */
			embedded_metadata_height = "0";
		};
		mode5 {
			mclk_khz = "24000";
			num_lanes = CAM_LANES_STRING;
			tegra_sinterface = "serial_e";
			phy_mode = "DPHY";
			discontinuous_clk = "yes";
			dpcm_enable = "false";
			cil_settletime = "0";

			active_w = "640";
			active_h = "480";
			mode_type = "yuv";
			pixel_phase = "uyvy";
			csi_pixel_bit_depth = "16";
			readout_orientation = "90";
			line_length = "3448";
			inherent_gain = "1";
			mclk_multiplier = "9.33";
			pix_clk_hz = "200000000";
			serdes_pix_clk_hz = "500000000";

			gain_factor = "16";
			framerate_factor = "1000000";
			exposure_factor = "1000000";
			min_gain_val = "16"; /* 1.00x */
			max_gain_val = "170"; /* 10.66x */
			step_gain_val = "1";
			default_gain = "16"; /* 1.00x */
			min_hdr_ratio = "1";
			max_hdr_ratio = "1";
			min_framerate = "2000000"; /* 2.0 fps */
			max_framerate = "60000000"; /* 60.0 fps */
			step_framerate = "1";
			default_framerate = "60000000"; /* 60.0 fps */
			min_exp_time = "13"; /* us */
			max_exp_time = "683709"; /* us */
			step_exp_time = "1";
			default_exp_time = "2495"; /* us */
			embedded_metadata_height = "0";
		};
		ports {
			#address-cells = <1>;
			#size-cells = <0>;
			port@0 {
				reg = <0>;

				rpi22_tevs_2_out: endpoint {
					port-index = <4>;
					bus-width = <CAM_LANES>;
					remote-endpoint = <&csi_in2>;
				};
			};
		};
	};
};
// SER2 -> CAM2 ends here

// SER3 -> CAM3 starts here
&des_3_i2c_0 {

	ser_3: gmsl-serializer@3c {
		status = "okay";
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "maxim,max96717";
		reg = <0x3c>;

		// i2c addr alias map "isp, gpio expander"
		i2c-addr-alias-map-local = <0x3e 0x3d>;	// virtual I2C addresses assigned to the devices
		i2c-addr-alias-map-remote = <0x48 0x25>;// actual I2C addresses of the devices

		gpio-controller;
		#gpio-cells = <2>;
		gpio-ranges = <&ser_3 0 0 11>;
		// Uncomment below to activate tunnel-mode otherwise, pixel-mode is selected
		//maxim,tunnel-mode;

		pinctrl-names = "default";
		pinctrl-0 = <&ser_3_pinmux_default>;

		ser_3_pinmux_default: pinmux {
			mfp0_fsync {
				pins = "mfp0";
				function = "gpio";
				maxim,gmsl-rx = <1>;
				maxim,gmsl-rx-id = <0>;
				output-enable;
				output-low;
			};
		};

		i2c-mux {
			#address-cells = <1>;
			#size-cells = <0>;

			compatible = "i2c-mux-gpio";
			i2c-parent = <&cam_i2c>;

			ser_3_i2c_0: i2c@0 {
				#address-cells = <1>;
				#size-cells = <0>;

				reg = <0>;
			};
		};

		pipe@0 {
			reg = <0>;

			maxim,stream-id = <0>;
		};

		channel@0 {
			reg = <0>;
			label = "ser_3_ch_0";

			clock-lanes = <0>;
			data-lanes = <1 2 3 4>;
			clock-noncontinuous;
		};
	};
};

&ser_3_i2c_0 {
	pca9554_cam_3: pca9554@3d {
		compatible = "nxp,pca9554";
		reg = <0x3d>;
		gpio-controller;
		#gpio-cells = <2>;
		gpio-line-names = "EXPOSURE_TRIG_IN",
						"FLASH_OUT",
						"INFO_TRIG_IN",
						"CAMA_SHUTTER",
						"CSI_P1_nRST",
						"PWR_TIME0",
						"PWR_TIME1",
						"3V3_EN";
		vcc-supply = <&cam_vcc_1v8_reg>;
		vcc_lp = "vcc";
		status = "okay";
	};

	cam_3: rpi22_tevs_3@3e {
		compatible = "tn,tevs";
		reg = <0x3e>;
		status = "okay";

		reset-gpios = <&pca9554_cam_3 4 GPIO_ACTIVE_HIGH>;
		standby-gpios = <&pca9554_cam_3 2 GPIO_ACTIVE_HIGH>;
		data-lanes = <CAM_LANES>;
		data-frequency = <560>;

		/* V4L2 device node location */
		devnode = "video3";
		/* Physical dimensions of sensor */
		physical_w = "3.680";
		physical_h = "2.760";
		sensor_model = "tevs";
		use_sensor_mode_id = "false";

		mode0 {
			mclk_khz = "24000";
			num_lanes = CAM_LANES_STRING;
			tegra_sinterface = "serial_g";
			phy_mode = "DPHY";
			discontinuous_clk = "yes";
			dpcm_enable = "false";
			cil_settletime = "0";

			active_w = "3280";
			active_h = "2464";
			mode_type = "yuv";
			pixel_phase = "uyvy";
			csi_pixel_bit_depth = "16";
			readout_orientation = "90";
			line_length = "3448";
			inherent_gain = "1";
			mclk_multiplier = "9.33";
			pix_clk_hz = "200000000";
			serdes_pix_clk_hz = "500000000";

			gain_factor = "16";
			framerate_factor = "1000000";
			exposure_factor = "1000000";
			min_gain_val = "16"; /* 1.00x */
			max_gain_val = "170"; /* 10.66x */
			step_gain_val = "1";
			default_gain = "16"; /* 1.00x */
			min_hdr_ratio = "1";
			max_hdr_ratio = "1";
			min_framerate = "2000000"; /* 2.0 fps */
			max_framerate = "21000000"; /* 21.0 fps */
			step_framerate = "1";
			default_framerate = "21000000"; /* 21.0 fps */
			min_exp_time = "13"; /* us */
			max_exp_time = "683709"; /* us */
			step_exp_time = "1";
			default_exp_time = "2495"; /* us */
			embedded_metadata_height = "0";
		};
		mode1 {
			mclk_khz = "24000";
			num_lanes = CAM_LANES_STRING;
			tegra_sinterface = "serial_g";
			phy_mode = "DPHY";
			discontinuous_clk = "yes";
			dpcm_enable = "false";
			cil_settletime = "0";

			active_w = "3280";
			active_h = "1848";
			mode_type = "yuv";
			pixel_phase = "uyvy";
			csi_pixel_bit_depth = "16";
			readout_orientation = "90";
			line_length = "3448";
			inherent_gain = "1";
			mclk_multiplier = "9.33";
			pix_clk_hz = "200000000";
			serdes_pix_clk_hz = "500000000";

			gain_factor = "16";
			framerate_factor = "1000000";
			exposure_factor = "1000000";
			min_gain_val = "16"; /* 1.00x */
			max_gain_val = "170"; /* 10.66x */
			step_gain_val = "1";
			default_gain = "16"; /* 1.00x */
			min_hdr_ratio = "1";
			max_hdr_ratio = "1";
			min_framerate = "2000000"; /* 2.0 fps */
			max_framerate = "28000000"; /* 28.0 fps */
			step_framerate = "1";
			default_framerate = "28000000"; /* 28.0 fps */
			min_exp_time = "13"; /* us */
			max_exp_time = "683709"; /* us */
			step_exp_time = "1";
			default_exp_time = "2495"; /* us */
			embedded_metadata_height = "0";
		};
		mode2 {
			mclk_khz = "24000";
			num_lanes = CAM_LANES_STRING;
			tegra_sinterface = "serial_g";
			phy_mode = "DPHY";
			discontinuous_clk = "yes";
			dpcm_enable = "false";
			cil_settletime = "0";

			active_w = "1920";
			active_h = "1080";
			mode_type = "yuv";
			pixel_phase = "uyvy";
			csi_pixel_bit_depth = "16";
			readout_orientation = "90";
			line_length = "3448";
			inherent_gain = "1";
			mclk_multiplier = "9.33";
			pix_clk_hz = "200000000";
			serdes_pix_clk_hz = "500000000";

			gain_factor = "16";
			framerate_factor = "1000000";
			exposure_factor = "1000000";
			min_gain_val = "16"; /* 1.00x */
			max_gain_val = "170"; /* 10.66x */
			step_gain_val = "1";
			default_gain = "16"; /* 1.00x */
			min_hdr_ratio = "1";
			max_hdr_ratio = "1";
			min_framerate = "2000000"; /* 2.0 fps */
			max_framerate = "30000000"; /* 30.0 fps */
			step_framerate = "1";
			default_framerate = "30000000"; /* 30.0 fps */
			min_exp_time = "13"; /* us */
			max_exp_time = "683709"; /* us */
			step_exp_time = "1";
			default_exp_time = "2495"; /* us */
			embedded_metadata_height = "0";
		};
		mode3 {
			mclk_khz = "24000";
			num_lanes = CAM_LANES_STRING;
			tegra_sinterface = "serial_g";
			phy_mode = "DPHY";
			discontinuous_clk = "yes";
			dpcm_enable = "false";
			cil_settletime = "0";

			active_w = "1640";
			active_h = "1232";
			mode_type = "yuv";
			pixel_phase = "uyvy";
			csi_pixel_bit_depth = "16";
			readout_orientation = "90";
			line_length = "3448";
			inherent_gain = "1";
			mclk_multiplier = "9.33";
			pix_clk_hz = "200000000";
			serdes_pix_clk_hz = "500000000";

			gain_factor = "16";
			framerate_factor = "1000000";
			exposure_factor = "1000000";
			min_gain_val = "16"; /* 1.00x */
			max_gain_val = "170"; /* 10.66x */
			step_gain_val = "1";
			default_gain = "16"; /* 1.00x */
			min_hdr_ratio = "1";
			max_hdr_ratio = "1";
			min_framerate = "2000000"; /* 2.0 fps */
			max_framerate = "30000000"; /* 60.0 fps */
			step_framerate = "1";
			default_framerate = "30000000"; /* 60.0 fps */
			min_exp_time = "13"; /* us */
			max_exp_time = "683709"; /* us */
			step_exp_time = "1";
			default_exp_time = "2495"; /* us */
			embedded_metadata_height = "0";
		};
		mode4 {
			mclk_khz = "24000";
			num_lanes = CAM_LANES_STRING;
			tegra_sinterface = "serial_g";
			phy_mode = "DPHY";
			discontinuous_clk = "yes";
			dpcm_enable = "false";
			cil_settletime = "0";

			active_w = "1280";
			active_h = "720";
			mode_type = "yuv";
			pixel_phase = "uyvy";
			csi_pixel_bit_depth = "16";
			readout_orientation = "90";
			line_length = "3448";
			inherent_gain = "1";
			mclk_multiplier = "9.33";
			pix_clk_hz = "200000000";
			serdes_pix_clk_hz = "500000000";

			gain_factor = "16";
			framerate_factor = "1000000";
			exposure_factor = "1000000";
			min_gain_val = "16"; /* 1.00x */
			max_gain_val = "170"; /* 10.66x */
			step_gain_val = "1";
			default_gain = "16"; /* 1.00x */
			min_hdr_ratio = "1";
			max_hdr_ratio = "1";
			min_framerate = "2000000"; /* 2.0 fps */
			max_framerate = "60000000"; /* 60.0 fps */
			step_framerate = "1";
			default_framerate = "60000000"; /* 60.0 fps */
			min_exp_time = "13"; /* us */
			max_exp_time = "683709"; /* us */
			step_exp_time = "1";
			default_exp_time = "2495"; /* us */
			embedded_metadata_height = "0";
		};
		mode5 {
			mclk_khz = "24000";
			num_lanes = CAM_LANES_STRING;
			tegra_sinterface = "serial_g";
			phy_mode = "DPHY";
			discontinuous_clk = "yes";
			dpcm_enable = "false";
			cil_settletime = "0";

			active_w = "640";
			active_h = "480";
			mode_type = "yuv";
			pixel_phase = "uyvy";
			csi_pixel_bit_depth = "16";
			readout_orientation = "90";
			line_length = "3448";
			inherent_gain = "1";
			mclk_multiplier = "9.33";
			pix_clk_hz = "200000000";
			serdes_pix_clk_hz = "500000000";

			gain_factor = "16";
			framerate_factor = "1000000";
			exposure_factor = "1000000";
			min_gain_val = "16"; /* 1.00x */
			max_gain_val = "170"; /* 10.66x */
			step_gain_val = "1";
			default_gain = "16"; /* 1.00x */
			min_hdr_ratio = "1";
			max_hdr_ratio = "1";
			min_framerate = "2000000"; /* 2.0 fps */
			max_framerate = "60000000"; /* 60.0 fps */
			step_framerate = "1";
			default_framerate = "60000000"; /* 60.0 fps */
			min_exp_time = "13"; /* us */
			max_exp_time = "683709"; /* us */
			step_exp_time = "1";
			default_exp_time = "2495"; /* us */
			embedded_metadata_height = "0";
		};
		ports {
			#address-cells = <1>;
			#size-cells = <0>;
			port@0 {
				reg = <0>;

				rpi22_tevs_3_out: endpoint {
					port-index = <6>;
					bus-width = <CAM_LANES>;
					remote-endpoint = <&csi_in3>;
				};
			};
		};
	};
};
// SER3 -> CAM3 ends here